@use '/src/scss/variables/variables.scss' as *;

@mixin skeleton-animation($start: var(--skeleton-start-bg), $end: var(--skeleton-end-bg)) {
  animation: skeleton-loading 1s linear infinite alternate;
  color: transparent;

  @keyframes skeleton-loading {
    0% {
      background-color: #{$start};
    }

    100% {
      background-color: #{$end};
    }
  }
}

@mixin transition($type, $duration: 0.25s, $timing: ease-in-out) {
  & {
    transition: $type $duration $timing;
  }
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

@mixin fade-in-transition($duration: 0.25s, $timing: ease-in-out) {
  @include transition(opacity, $duration, $timing);
}

@mixin background-color-transition($duration: 0.25s, $timing: ease-in-out) {
  @include transition(background-color, $duration, $timing);
}
