@use '@scss/variables/variables' as *;
@use '/src/scss/utils/utils.scss' as utils;

$close-button-color: #{$color-gray-500};
$close-button-color-hover: #{$color-white};

.close-button {
  color: $close-button-color;
  height: utils.rem(24);
  padding: 0;
  width: utils.rem(24);

  &:hover {
    color: $close-button-color-hover;
  }
}
