@use '/src/scss/utils/utils.scss' as utils;

// local variables
$sidenav-padding: (utils.rem(30) 0);
$sidenav-transition:
  background-color 300ms ease,
  color 300ms ease;

.sidenav {
  background-color: var(--sidenav-bg);
  color: var(--sidenav-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
  padding: $sidenav-padding;
  width: utils.rem(90);
  align-items: center;
}
