@use '/src/scss/variables/variables.scss' as *;
@use '/src/scss/utils/utils.scss' as func;
@use '/src/scss/mixins/mixins.scss' as mixins;

$input-bg-color: #{$color-gray-150};
$input-border-color: #{$color-gray-500};
$input-border: 1px solid $input-border-color;
$input-color: #{$color-white}; // no information in figma
$input-height: func.rem(40);
$input-padding: 0 func.rem(5); // no information in figma
$input-font-size: func.rem(16); // no information in figma
$input-error-border: 1px solid #{$color-red-100};
$input-error-shadow: 0 0 0 3px rgba($color-red-100, 0.3);

.input-group-input {
  background-color: $input-bg-color;
  border: $input-border;
  color: $input-color;
  font-size: $input-font-size;
  height: $input-height;
  padding: $input-padding;

  &--error {
    // lazy solution - out of scope
    @include mixins.transition(border, 0.1s);
    @include mixins.transition(box-shadow, 0.1s);

    border: $input-error-border;
    box-shadow: $input-error-shadow;
    outline: none;
  }
}
