@use '/src/scss/utils/utils.scss' as utils;
@use '/src/scss/variables/variables.scss' as *;

.newsletter-modal {
  max-width: 100%;
  width: utils.rem(490);

  &__heading {
    font-size: utils.rem(20);
    font-weight: 400;
    margin: 0 0 utils.rem(40) 0;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: utils.rem(24);
  }
}
