@use '/src/scss/utils/utils.scss' as utils;
@use '/src/scss/variables/variables.scss' as *;

$modal-spacing: utils.rem(30);

.picture-modal {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: utils.rem(714);
  max-height: 100%;
  overflow: auto;
  width: utils.rem(1134);

  @media (width <= 1300px) {
    align-items: flex-start;
    flex-direction: column;
    width: auto;
  }

  &__photo {
    align-items: center;
    background-color: $color-gray-150;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: utils.rem(567);

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: $modal-spacing;
    max-width: utils.rem(567);
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $modal-spacing;
    margin-top: auto;
  }

  &__separator {
    border-top: 1px solid $color-gray-500;
  }
}
