@use '/src/scss/utils/utils.scss' as utils;
@use '/src/components/Sidenav/Sidenav.module.scss' as *;
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: utils.rem(25);

  &__item {
    color: var(--sidenav-color);
  }
}
