@use '/src/scss/utils/utils.scss' as utils;
@use '/src/components/Sidenav/Sidenav.module.scss' as *;
// .footer {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   gap: utils.rem(25);
//   color: var(--sidenav-color);
// }

.footer {
  display: flex;
  flex-direction: column;
  gap: utils.rem(25);
  justify-content: center;
  width: 100%;

  &__item {
    color: var(--sidenav-color);
  }
}
