@use '/src/scss/mixins/mixins.scss' as mixins;
@use '/src/scss/utils/utils.scss' as utils;

.gallery-skeleton {
  grid-row: span 36;
  padding: utils.rem(15);

  &__item {
    height: 100%;
    min-height: utils.rem(330);
    width: 100%;
    @include mixins.skeleton-animation();
  }
}
