@use '/src/scss/variables/variables.scss' as *;

.app-wrapper {
  display: flex;
  flex-direction: row;
  height: 100svh;
  width: 100vw;

  &__main {
    background-color: var(--main-bg);
    color: var(--main-color);
    overflow: auto;
    width: 100%;
  }
}
