@use '/src/scss/variables/variables.scss' as *;

.app-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 100svh;
  width: 100%;

  &__main {
    background-color: var(--main-bg);
    color: var(--main-color);
    padding-left: $sidenav-width;
    width: 100%;
  }
}
