@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

html {
  font-family: 'Sen', Arial, sans-serif;
}
body {
  margin: 0; /* removes default 8px margin */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  background: inherit;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  
}

dialog {
  padding: 0;
  border: none;
}
