:root {
  /* **COLORS** */

  /* main colors */
  --gallery-color-primary: #118dba;
  --gallery-color-white: #fff;

  /* gray colors */
  --gallery-color-gray-100: #151515;
  --gallery-color-gray-150: #202020;
  --gallery-color-gray-200: #242424;
  --gallery-color-gray-500: #707070;
  --gallery-color-gray-600: #adadad;
  --gallery-color-gray-800: #f4f4f4;
  --gallery-color-overlay: rgb(21 21 21 / 80%);

  /* end of colors */

  /* **SCREEN SIZES** */
  --gallery-screen-sm: 480px; /* phone screen */
}
